.userPage {
  &-outer {
    height: 100%;
    border-radius: 20px;
  }

  &-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: relative;
    backdrop-filter: blur(2px);
  }

  &-logOut {
    color: darken($color-primary, 20%);
    font-size: 50px;
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: pointer;

    &:hover {
      transition: $transition;
      color: lighten($color-primary, 10%);
    }
  }

  &-title {
    margin: 20px 0;
    text-align: center;
    font-size: $fs-h1;
    color: darken($color-primary, 20%);
    font-weight: $fw-700;
  }

  &-date {
    font-size: $fs-h1;
    text-align: center;
    color: darken($color-primary, 20%);
    font-weight: $fw-300;
    margin-bottom: 50px;
  }

  &-tasks {
    width: 100%;
    overflow-y: auto;

    &-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      width: 100%;

      &__item {
        display: flex;
        align-items: center;
        margin: 10px 0;
        max-width: 600px;
        width: 100%;
        animation: goDown .5s;
        position: relative;
  
        &-delete {
          position: absolute;
          right: 10px;
          cursor: pointer;
          font-size: $fs-xl;
          color: #e84118;
          transition: $transition;
  
          &:hover {
            transform: scale(1.1);
          }
        }
  
        &-input {
          color: $color-primary;
          font-size: $fs-xl;
          font-weight: $fw-500;
          padding: 10px 50px 10px 10px;
          height: auto;
          width: 100%;
          border: 3px solid $color-primary;
          border-radius: 10px;
          transition: $transition;
  
          &:focus {
            outline: none;
            transform: scale(1.01);
          }
  
          &[disabled] {
            background-color: #f5f6fa;
          }
        }
      }
    }
  }

  &__actions {
    display: flex;
    margin-bottom: 1rem;
    &-item {
      margin: 0 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      font-weight: $fw-700;
      font-size: $fs-h1;
      background-color: $color-primary;
      color: #f5f6fa;
      cursor: pointer;
      transition: $transition;
  
      &:hover {
        background-color: #f5f6fa;
        color: $color-primary;
        transform: scale(0.9);
      }
    }
  }

  .bolder {
    font-weight: $fw-600;
  }
}
