// XL - Extra Large devices (desktops, more than 1400px)
@media (min-width: 1399.98px) { 
    .container {
        max-width: 1320px;
    }
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { 
    .container {
        max-width: 1140px;
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
    .container {
        max-width: 960px;
    }
}


// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .container {
        max-width: 720px;
    }

    .header {
        &-inner {
            flex-direction: column;}
        &-search{margin: $base*2  0 !important;}
        text-align: center;
    }

    .list > .users-wrapper__item {
        flex-direction: column;

        .users-wrapper__item-info {
            font-size: $fs-md !important;
        }

        .repos {
            font-size: $fs-md !important;
            flex-basis: auto !important;
            align-self: flex-start;
            word-break: break-all;
        }
    }
}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .container {
        max-width: 570px;
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .container {max-width: 90%;}
}

@media (max-height: 500px) {
    .main-outer {
        height: 600px;
    }
}
